@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scrollbar-width: 20px;
}

* {
  transition-duration: 1000ms;
}

div {
  transition-duration: 350ms;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slow-trans {
  transition-duration: 3500ms;
}

.fast-trans {
  transition-duration: 200ms;
}

.bg-color-dark {
  background-color: #43474d;
}

.bg-color {
  background-color: #8097b9;
}

h1 {
  font-size: xx-large;
}

h1 span {
  font-weight: bold;
}

h2 {
  font-size: x-large;
}

.slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
  width: fit-content;
}

.slide-track-back {
  display: flex;
  animation: scroll-back 30s linear infinite;
  -webkit-animation: scroll-back 30s linear infinite;
  width: fit-content;
}

.slide {
  width: 20rem;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}

@keyframes scroll-back {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}
